In [3]:
a=10
b=20
c=0
c=a-b
print ("Line 2 - Value of c is ", c )
c=a*b
print ("Line 3 - Value of c is ", c)
c=a/b
print ("Line 4 - Value of c is ", c )
c=a%b
print ("Line 5 - Value of c is ", c)
a=2
b=3
c = a**b
print ("Line 6 - Value of c is ", c)
a = 10
b=5
c = a//b
print ("Line 7 - Value of c is ", c)

Line 2 - Value of c is  -10
Line 3 - Value of c is  200
Line 4 - Value of c is  0.5
Line 5 - Value of c is  10
Line 6 - Value of c is  8
Line 7 - Value of c is  2

In [4]:
a = 10
b = 20
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
False
True

In [5]:
c = a + b
print (c)

30

In [17]:
a+=b
print (a)
a-=b
print (a)
a*=b
print (a)

2040
2000
80000

In [23]:
a = 60
b = 13
print ('a=',a,':',bin(a),'b=','b',':',bin(b))
c=0

c = a & b;
print("result of AND is ", c, ':',bin(c))

c=a|b; 
print("result of OR is ", c, ':', bin(c))

c=a^b;
print("result of EXOR is ", c, ':', bin(c))

c=~a;
print("result of COMPLEMENT is ", c, ':', bin(c))

c=a<<2;
print("result of LEFT SHIFT is", c, ':', bin(c))

c=a>>2;
print("result of RIGHT SHIFT is ", c, ':', bin(c))

a= 60 : 0b111100 b= b : 0b1101
result of AND is  12 : 0b1100
result of OR is  61 : 0b111101
result of EXOR is  49 : 0b110001
result of COMPLEMENT is  -61 : -0b111101
result of LEFT SHIFT is 240 : 0b11110000
result of RIGHT SHIFT is  15 : 0b1111

In [30]:
count = 0 
while (count < 9):
    print ('The count is:', count )
    count = count + 1
print ("Good Byeee!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good Byeee!

In [1]:
a=60
b=40
def fun1(a,b):
    c=a+b
    print (c)
    return c;
res1= fun1(10,20)
print (res1)

x=7
y=3
res2= fun1(x,y)
print(res2)

30
30
10
10

<h1> Class In Python</h1>

In [16]:
a = 2000

class pc1:
    a=200
    n="harshada"
    def fun2(self,a,b):
        a=2
        ca = a+b
        return a
        
obj1 = pc1()
print(obj1.fun2(20,40))
print(obj1.a)

print(a)

2
200
2000

In [1]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def get_name(self):
        return self.name

    def get_salary(self):
        return self.salary


employee1 = Employee("John Doe", 5000)
employee2 = Employee("Jane Smith", 6000)


print(f"Employee 1: {employee1.get_name()}, Salary: ${employee1.get_salary()}")
print(f"Employee 2: {employee2.get_name()}, Salary: ${employee2.get_salary()}")

Employee 1: John Doe, Salary: $5000
Employee 2: Jane Smith, Salary: $6000

<h1> Inheritance In Python </h1>

 class  A:
    def __init__(self):
        print("class A run ")
            
    def fun1(self):
        print("class A function fun1 run")
        
        
class B(A):
    def __init__(self):
        print("class B run")
        
    def fun2(self):
        print("class B function fun2 run")
        
        
class C(B):
    def __init__(self):
        print("class C run")
        
    def fun2(self):
        print("class C function fun3 run")
        
        
        
obj3 = C()
obj3.fun2()
obj3.fun1()

<h1> Lists In Python </h1>

In [31]:
list1 = ['physics' , 'chemistry', 1997 , 2000];
list2 = [1, 2, 3, 4 ,5 ];
list3 = ["a", "b", "c", "d"];


print(list1[0:3])
print(list2[-3:-1])


print ("First list lenght :" , len(list1));
print ("Second list lenght :" , len(list2));
print (max(list2))

print (list1)
list1.pop()
print (list1)


dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};

print("dict['Name']:", dict['Name']);
print("dict['Age']:", dict['Age']);

['physics', 'chemistry', 1997]
[3, 4]
First list lenght : 4
Second list lenght : 5
5
['physics', 'chemistry', 1997, 2000]
['physics', 'chemistry', 1997]
dict['Name']: Zara
dict['Age']: 7

<h1> Import Numpy </h1>

In [9]:
import numpy as np

list1 = [11,22,33]
a=np.array(list1)
print (a)

[11 22 33]

<h1> Create a NumPy array </h1>

In [11]:
    import numpy as np
    arr = np.array([1, 2, 3, 4, 5])
    print(arr)
    print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

<h1> Create a 0-D array with value 42 </h1>

In [12]:
import numpy as np

arr = np.array(42)

print(arr)

42

<h1> Create a 1-D array containing the values 1,2,3,4,5: </h1>

In [13]:
    import numpy as np
    arr = np.array([1, 2, 3, 4, 5])
    print(arr)

[1 2 3 4 5]

<h1> Create a 2-D array containing two array with the values 1,2,3 and 4,5,6: </h1>

In [15]:
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr)

[[1 2 3]
 [4 5 6]]

<h1> Check Number Of Dimensions </h1>

In [21]:
import numpy as np

a = np.array(42) #0D
b = np.array([1,2,3,4,5]) #1D
c = np.array([[1,2,3],[4,5,6]]) #2D
d = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]]) #3D

print (a.ndim)
print (b.ndim)
print (c.ndim)
print (d.ndim)

0
1
2
3

<h1> Get the first element from the following array: </h1>

In [25]:
import numpy as np

arr = np.array([1, 2, 3, 4,])
print(arr[0])
print(arr[1])
print(arr[2])

1
2
3
2

In [27]:
import numpy as np

arr = np.array([1, 2, 3, 4,])
print(arr[0]+arr[1])

3

In [28]:
import numpy as np

arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9,  10]])
print('2nd element on 1st row:', arr[0,1])

2nd element on 1st row: 2

In [41]:
# import numpy as np

arr = np.array([[[1, 2, 3] , [4, 5, 6]],[[7, 8, 9], [ 10, 11, 12]]])
print(arr[0,1,2])
print(arr[0,1,1])
print(arr[1,1,1])
print(arr[1,1,2])
print(arr[0,1,2]+arr[0,1,1]+arr[1,1,1]+arr[1,1,2])

6
5
11
12
34

In [42]:
import numpy as np

arr = np.array([[1,2,3,4,5],[6,7,8,9,10]])

print('Last element from 2nd dim:', arr[1,-1])

Last element from 2nd dim: 10